<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../../head') %>
</head>
 
<body>

    <%- include('../../menu') %>

        <main>
            <h1>
                <%= title %>
            </h1>
        <div style="max-width:1000px">
                <form id="newProjectForm" class="form gray-200" method="POST" action="newproject">
                    <fieldset>
                        
                        <div class="row">
                        
                         <div class="col-4">   
                      
                            <div class="form-group">
                            <label for="project_name">Navn: </label> <input type="text" required class="form-control form-control-sm" name="project_name" placeholder="Gi prosjektet et navn">
                        </div>
                        <div class="form-group">
                            <label for="project_description">Beskrivelse: </label>
                            <textarea name="project_description" class="form-text-area"></textarea>
    
                        </div>
                        
                    <div class="form-group">
                        
                        <label for="project_category_id">Kategori: </label> 
                        <select name="project_category_id">
                            <% for(var i=0; i < projectCategories.length; i++) { %>
                                <option value="<%= projectCategories[i].project_category_id%>"><%= projectCategories[i].project_category_name  %></option>
                                <% }  %>
                                        
                        </select>
                    </div>
    
                        <div class="form-group">
                            <label for="project_start_date">Start: </label> <input type="date" class="form-control form-control-sm" name="project_start_date">
                        </div>
                        <div class="form-group">
                            <label for="project_end_date">Avslutning: </label> <input type="date" class="form-control form-control-sm" name="project_end_date">
                        </div>
  
                        <div class="form-group">
                        
                            <label for="project_owner_id">Prosjekteier: </label> 
                            <select name="project_owner_id">
                                <% for(var i=0; i < users.length; i++) { %>
                                    <option value="<%= users[i].user_id %>"><%= users[i].name %></option>
                                    <% }  %>
                            </select>
                        </div>
    
                                 
                    <div class="form-group">
                        
                        <label for="project_client_id">Oppdragsgiver/Kunde: </label> 
                        <select name="project_client_id">
                            
                            <% for(var i=0; i < clients.length; i++) { %>
                        <option value="<%= clients[i].company_id%>"><%= clients[i].company_name  %></option>
                        <% }  %>


                        </select>
                    </div>

                    <div class="form-group">
                        <label for="comments">Kommentarer: </label>
                        <textarea name="comments" class="form-text-area"></textarea>

                    </div>
                    

                    </div> <!-- end row --> 

                    </fieldset>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Registrer prosjekt">
                    </div>

                </form>

                <% if (message !="" ) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>
                   <%= message %>
                </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <% } %>

            </div>

        </main>
</body>

</html>