<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../../head') %>
</head>

<body>

    <%- include('../../menu') %>

        <main>
            <h1>
                <%= title %>
            </h1>
            <p>Legg til ny bruker</p>

            <div style="width:400px">
                <form id="newUserForm" class="form" method="POST" action="newuser">
                    <fieldset>
                        <div class="form-group">
                            <label for="first_name">Fornavn</label> <input type="text" required class="form-control form-control-sm" name="first_name" placeholder="Tast inn fornavn">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Etternavn</label> <input type="text" required class="form-control form-control-sm" name="last_name" placeholder="Tast inn etternavn">
                        </div>
                        <div class="form-group">
                            <label for="username">Brukernavn</label> <input type="text" required class="form-control form-control-sm" name="brukernavn" placeholder="Tast inn brukernavn">
                        </div>
                        <div class="form-group">
                            <label for="password">Passord</label> <input id="pw1" type="password" class="form-control form-control-sm" name="password" placeholder="Tast inn Passord">
                        </div>
                        <div class="form-group">
                            <label for="password2">Gjenta passord</label> <input id="pw2" type="password" class="form-control form-control-sm" name="password2" placeholder="Gjenta passordet">
                        </div>
                        <div class="form-group">
                            <label for="user_email">Epost</label> <input type="email" class="form-control form-control-sm" name="user_email" placeholder="Tast inn brukerens epostadresse">
                        </div>
                        
                        <div class="form-group">
                            <label for="address">Adresse</label> <input type="text" class="form-control form-control-sm" name="address" placeholder="Tast inn brukerens postadresse">
                        </div>
                        <div class="form-group">
                            <label for="zip">Postnummer</label> <input type="text" class="form-control form-control-sm" name="zip" placeholder="Tast inn brukerens postnummer">
                        </div>
                        <div class="form-group">
                            <label for="city">Poststed</label> <input type="text" class="form-control form-control-sm" name="city" placeholder="Tast inn brukerens poststed">
                        </div>
                        <div class="form-group">
                            <label for="skills">Kompetanse</label> <input type="text" class="form-control form-control-sm" name="skills" placeholder="Tast inn stikkord for kompetanse">
                        </div>

                        <div class="form-group">
                            <label for="signed_contract">Signert kontrakt: </label> <input type="checkbox" class="form-check-input" name="signed_contract">
                        </div>
                        <div class="form-group">
                            <label for="start_date">Startet</label> <input type="date" class="form-control form-control-sm" name="dtart_date">
                        </div>
                        <div class="form-group">
                            <label for="end_date">Sluttet</label> <input type="date" class="form-control form-control-sm" name="end_date">
                        </div>

                        <div class="form-group">
                            <label for="enables">Aktiv: </label> <input type="checkbox" class="form-check-input" name="enabled">
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Registrer bruker">
                    </div>

                </form>

                <% if (message !="" ) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>
                   <%= message %>
                </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <% } %>

            </div>

        </main>
</body>

</html>