<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../../head') %>
</head>

<body>
    <%- include('../../menu') %>
        <main>
            <h1>
                <%= title %>
            </h1>

            <table id="tabell">
                <thead>
                    <tr>
                        <th>Fornavn</th>
                        <th>Etternavn</th>
                        <th>Brukernavn</th>
                        <th>Epost</th>
                        <th>Mobil</th>
                        <th>Start-dato</th>
                    </tr>

                </thead>
                <tbody>
                    <% for(var i=0; i < rows.length; i++) { %>

                        <tr>
                            <td>
                                <%= rows[i].first_name %>
                            </td>
                            <td>
                                <%= rows[i].last_name %>
                            </td>
                            <td>
                                <%= rows[i].username %>
                            </td>

                            <td>
                                <%= rows[i].user_email %>
                            </td>
                            <td>
                                <%= rows[i].mobile_phone %>
                            </td>
                            <td>
                                <%= rows[i].start_date %>
                            </td>

                        </tr>

                        <% } %>
                </tbody>

            </table>


        </main>
</body>

</html>