<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head') -%>
  </head>
  <body>
    <nav><%- include('menu') -%></nav>
    <main>
      <h1><%= title %></h1>
      <p>Velkommen til <%= title %></p>

      <section>
        <form action="" method="get">
          <label>
            Søk i enhetsregisteret
            <input
              type="search"
              name="search"
              placeholder="Navn eller orgnummer"
              required
            />
          </label>
          <button type="submit" class="btn btn-success">Søk</button>
        </form>
      </section>

      <section>
        <table id="tabell" class="tabell" hidden>
          <thead>
            <tr>
              <th class="th">Navn</th>
              <th class="th">Orgnummer</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <td><button id="prev" disabled><</button></td>
              <td><button id="next">></button></td>
            </tr>
          </tfoot>
        </table>
      </section>
    </main>
    <script src="/javascripts/enheter.js"></script>
  </body>
</html>
