<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/enheter.js"></script>
     <%- include('head') -%>
  </head>
  <body>
    <nav>
      <%- include('menu') -%>
    </nav>
    <main>
    <h1><%= title %></h1>
    <p>Velkommen til <%= title %></p>

    <div id="div1"></div>
    <div id="div2"></div>

  </main>
  </body>
</html>
