<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <%- include('head') %>
  </head>
  <body>
    <nav>
      <%- include('menu') %>
    </nav>
    <main>
    <h1><%= title %></h1>
    <p>Velkommen til <%= title %></p>
  </main>
  </body>
</html>
