<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <%- include('head') %>
  </head>
  <body>
    <nav style="float:left">
      <%- include('sidebar_menu') %>
   </nav>
    <nav style="float: none;">
      <%- include('menu') %>
    </nav>
    
    <main>
    
    <h1><%= title %></h1>
    <p>Velkommen til <%= title %></p>
  
</main>
    <footer><%- include('footer') %></footer>
</body>
</html>
