<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <%- include('head') %>
  </head>
  <body>
<div class="container">

      <nav style="float: none;">
        <%- include('menu') %>
      </nav>
    
<div class="row mb-3">
      
        <div class="col-lg-1 themed-grid-col">
        <nav>
          <%- include('sidebar_menu') %>
        </nav>
        </div>
    
        <div class="col-11 themed-grid-col" >
         <main>
    
             <h1><%= title %></h1>
             <p>Velkommen til <%= title %></p>
               <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>Hei
  
        </main>
        <%- include('footer') %>
       </div>
      
      
</div>
</div>
</body>
</html>
