<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <%- include('head') %>
  </head>
  <body>
    <section id="container">
      <nav style="float:left">
      <%- include('sales_sidebar_menu') %>
     </nav>
      <nav style="float: none;">
      <%- include('menu') %>
      </nav>
    
    <main>
    
    <h1><%= title %></h1>
    <p>Velkommen til <%= title %></p>
    <p>Salgsoversikt</p>
  
   </main>
    <%- include('footer') %>
  </section>
  </body>
</html>
